html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: seashell;
    background-color: #1c1e26;
}

main {
    display: grid;
    margin-bottom: 1.5em;
    line-height: 1.4;
}

h1 {
    text-align: center;
    font-size: 6rem;
    padding: 3%;
    color: #fdeb37;
    background-color: #262732;
    box-shadow: 1rem 8rem 2000px 10px #fff274;
    border-bottom: 2px solid #000000;
}

h2 {
    font-size: 3em;
    margin-bottom: 10%;
}

h3 {
    font-size: 2em;
    margin-bottom: 7%;
}

li {
    font-size: 1.05em;
    font-weight: 700;
}

ul>li {
    margin-left: 3%;
    list-style-position: inside;
    list-style-type: disclosure-closed;
}

a {
    text-decoration: underline;
    color: #262732;
}

a:hover {
    color: #fdeb37;
}

a:visited {
    color: whitesmoke;
}

aside p {
    text-align: center;
    font-size: 0.9em;
}

.margin-bottom {
    margin-bottom: 5%;
}

.list {
    display: grid;
    padding: 6%;
    margin: 5% auto 0;
    border: 0.25rem solid #fdeb37;
    border-radius: 36px;
    background-color: #bdac9c;
    color: #262732;
    width: 55%;
    justify-content: center;
}

/*
@media only screen and (max-width: 700px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
    }

    aside p {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 0.8em;
    }
    aside p {
        font-size: 0.5em;
    }
}
*/

@media only screen and (max-width: 700px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 10px;
    }
}